<video autoplay muted loop>
  <source src="https://css-tricks-post-videos.s3.us-east-1.amazonaws.com/708209935.mp4" playsinline>
</video>
<div class="toolbar-container">
  <h1>Habit Tracker</h1>
  <button nz-button [nzType]="" class="addButton" (click)="swapForms()">
    Добавить новую привычку
</button>
</div>
<div class="main-container">

<div *ngIf="!adding && !editing">

  <div class="cards">
    <div class="card" *ngFor="let habit of habits; let i = index">
      <nz-card style="width: 300px" [nzTitle]="habit.name">
        <p>
          <span class="detail-label">Частота:</span> {{ habit.frequency }}
        </p>
        <p>{{ habit.description }}</p>
        <div class="buttons">
          <i
            nz-icon
            nzType="edit"
            (click)="setEditForm(habit, i)"
            nzTheme="outline"
          ></i>
          <i
            nz-icon
            nzType="close-circle"
            (click)="onDelete(i)"
            nzTheme="outline"
          ></i>
        </div>
      </nz-card>
    </div>
  </div>
</div>
<div *ngIf="adding || editing">
  <nz-card class="editor" style="width: 500px" [nzTitle]="adding ? 'Добавить новую привычку ' : 'Изменить привычку'">
    <form [formGroup]="habitForm" (ngSubmit)="onSubmit()">
      <input class="editElement" nz-input formControlName="name" placeholder="Название" />
      <br />
      <label class="editElement">Частота</label>
      <nz-select nzPlaceHolder="Выберите частоту" formControlName="frequency" class="editElement select">
        <nz-option nzLabel="Раз в день" nzValue="Раз в день"></nz-option>
        <nz-option nzLabel="Раз в неделю" nzValue="Раз в неделю"></nz-option>
        <nz-option nzLabel="Раз в месяц" nzValue="Раз в месяц"></nz-option>
      </nz-select>
      <br />
      <textarea placeholder="Введите описание" rows="4" nz-input formControlName="description" class="editElement"></textarea>
    </form>
    <button nz-button nzType="primary" (click)="onSubmit()">Сохранить</button>
    <button nz-button nzType="primary" (click)="exitForm()">Отменить</button>
  </nz-card>
</div>
</div>
